---
---

<!-- homepage index.html -->

<head>
	<title>Rundong Tian</title>
	<link href="css/stylish.css" rel="stylesheet" type="text/css"/>
</head>


<body>
	<div id="header">  {% include header.html %} </div>

	<div id="content"> 
		<div class="inline_pic_and_text">
			
			
			<img  border="0" src="images/home.jpg" alt="bio picture" > 
			

			<p> 
				<strong>Rundong 'Kevin' Tian</strong> is a second year PhD student at UC Berkeley advised by <a href ="http://www.paulos.net" >Eric Paulos</a>.  
			</p>

			<p>
				As an undergraduate mechanical engineer at Berkeley, he was involved in research with the <a href="http://polypedal.berkeley.edu" target="_blank">Poly-PEDAL Lab</a> with Robert Full and the <a href="http://automation.berkeley.edu" target="_blank">Berkeley Laboratory for Automation Science and Engineering</a> with Ken Goldberg. <br /><br />
				In his spare time, he plays assorted musical instruments and rides his bicycle.<br />
			</p>	
			
			<p> Picture by Jackie Berry. </p>		

			<p> Links:
			      <br><a target="_blank"  href="images/RundongTian_webResume.pdf">cv</a> 
			      <br><a target="_blank" href="mailto:rutian@eecs.berkeley.edu">email </a>
			      <br><a target="_blank" href="http://www.flickr.com/photos/99821513@N07"> photos </a>
			      <br><a href="http://www.ocf.berkeley.edu/~rutian" >old website</a>
			</p>

		</div>

		<div id="footer"> {% include footer.html %} </div> 

	</div>

	

</body>
</html>

