<!-- header.html -->
<div id="name"> <a  href="{{site.path}}/index.html"> RUNDONG TIAN</a> </div>

<ul id="nav">  
	<li {%if page.title == 'Home' %} class="selected" {% endif %} ><a  href="{{site.path}}/index.html"> UNDER CONSTRUCTION</a> </li>
	<li {%if page.title == 'Home' %} class="selected" {% endif %} ><a  href="{{site.path}}/index.html">about</a> </li>
	<li {%if page.title == 'Projects' or page.tags contains 'research' or page.tags contains 'class'%} class="selected" {% endif %} ><a  href="{{site.path}}/projects"> projects </a></li> 
	<li {%if page.title == 'other' or page.tags contains 'other'  %} class="selected" {% endif %} ><a  href="{{site.path}}/other"> other </a></li>   
	<li {%if page.title == 'contact' %} class="selected" {% endif %} ><a  href="{{site.path}}/contact"> contact </a></li> 
</ul>

<!-- Google Analytics Script -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72721722-1', 'auto');
  ga('send', 'pageview');

</script>
