---
layout: default
---

<!--template for generating paginated blog posts -->

<!-- Navigation links at top -->
<div class="pagination">
   <div id="prev">
  {% if paginator.previous_page %}
   
    <a href="{{ paginator.previous_page_path}}">&lt;</a>
  {% else %}
    <a href="directory">&#8801;</a>
  {% endif %}
   </div>
  <div id="page_number"> {{ paginator.page }} / {{ paginator.total_pages }}</div>
    <div id="next">
  {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" >&gt;</a>
  {% else %}
        <a href={{site.url}}/other/directory>&#8801;</a>
  {% endif %}
    </div>
</div>



<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
  <p class="author">
    <span class="date">{{ post.date | date_to_string}}</span>
  </p>
  <div class="content">
    {{ post.content }}
  </div>
  <br>
  <br>
{% endfor %}

<!-- Pagination links (navigation) -->
<div class="pagination">
   <div id="prev">
  {% if paginator.previous_page %}
   
    <a href="{{ paginator.previous_page_path }}">&lt;</a>
  {% else %}
    <a href="directory">&#8801;</a>
  {% endif %}
   </div>
  <div id="page_number"> {{ paginator.page }} / {{ paginator.total_pages }}</div>
    <div id="next">
  {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" >&gt;</a>
  {% else %}
        <a href={{site.url}}/other/directory >&#8801;</a>
  {% endif %}
    </div>
</div>





